EXPO_PUBLIC_APP_URL=https://93dfbf9b-ad0b-4812-9f3a-7c0e6b75b274.created.app
EXPO_PUBLIC_BASE_CREATE_USER_CONTENT_URL=https://raw.createusercontent.com
EXPO_PUBLIC_BASE_URL=https://93dfbf9b-ad0b-4812-9f3a-7c0e6b75b274.created.app
EXPO_PUBLIC_CREATE_ENV=PRODUCTION
EXPO_PUBLIC_CREATE_TEMP_API_KEY=acc6fa31-4182-40c7-93ad-07ddeb0bd890
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=
EXPO_PUBLIC_HOST=93dfbf9b-ad0b-4812-9f3a-7c0e6b75b274.created.app
EXPO_PUBLIC_LOGS_ENDPOINT=https://www.anything.com/api/logs
EXPO_PUBLIC_PROJECT_GROUP_ID=93dfbf9b-ad0b-4812-9f3a-7c0e6b75b274
EXPO_PUBLIC_UPLOADCARE_PUBLIC_KEY=
